.knowledge-block-item{
  border: 1px solid #eee;
}
.knowledge-block-img{
  a{
    display: block;
    img{
      display: block;
      width: calc((1140px - 80px) / 3);
      height: calc((1140px - 80px) / 3);
      min-width: 100%;
    }
  }
}
.knowledge-block-title{
  display: inline-block;
  padding: 20px;
  a{
    color: #000;
    font-size: 18px;
    line-height: 24px;
  }
}
.knowledge-block-summary{
  padding: 0 20px 20px;
}
.knowledge-block-more{
  display: inline-block;
  padding: 0 20px 20px;
  a{
    color: #000;
    font-size: 14px;
    font-style: italic;
  }
}
