.product-list-img{
  a{
    display: block;
    border: 1px solid #ddd;
    img{
      display: block;
      height: auto !important;
      width: 100% !important;
    }
  }
}
.title-product-list{
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 10px;
  a{
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }
}
