
/*Flexslider*/

.flexslider {
	border: 0;
	/*@include box-shadow(none);
	@include border-radius(0);*/
  box-shadow: none;
  border-radius: 0;
	max-width: 100%;
	margin: 0;

	.slider-caption{
		display: none;
		position: absolute;
		top: 30%;
     	left: 20%;
		z-index: 99;
		width: 60%;
		text-align: center;
		font-size: 1.2em;
		line-height: 150%;
		color: #fff;
	}

	.slider-title{
		font-size: 2em;
		font-weight: 200;
		color: #fff;
	}

	.slider-description{
		display: inline-block;
		clear: both;
	}

	.slides{

		li{
			position: relative;

			&:after{
				content:"";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background: rgba(0, 0, 0, 0.5);
				transition: all 2s;
			}
		}
	}

	.flex-direction-nav{
		display: none;
		position: absolute;
		top: 50%;
		width: 100%;

		li{
			list-style: none;
		}

		a{
			font-size: 0;
    		padding: 10px;
		}
	}

	.flex-control-paging li a {
	    width: 8px;
	    height: 8px;
	    display: block;
	    background: #fff;
	    cursor: pointer;
	    text-indent: -9999px;
	    /*@include border-radius(50%);*/
      border-radius: 50%;
	}

	.flex-control-nav{
		bottom: 0;
	}

}
