
/*Variables*/

$fontFamily: Arial, 'Poppins', sans-serif;
$titleFontFamily: Arial, 'Poppins', sans-serif;
$baseFontSize: 16px;
$bodyBGColor: #f9f9f9;
$baseFontColor: #435a6b;

$linkColor: #1a51b1;
$linkColorHover: #00abc9;

/*Header*/
$headerBGColor: #000;
$headerTextColor: #fff;

$secColor: #fc466b;

/*Menu Color*/
$menuTextColor: #fff;
$menuTextActiveColor: #77a9ff;

$mobileMenuBg: #000;
$desktopMenuTextColor: #fff;
$desktopMenuDropDownBg: $linkColor;
$borderColor: #e8e8e8;

/*Mixins*/

@mixin globalButton(){
	background: $linkColor;
	cursor: pointer;
	color: #fff;
	border: 0;
	padding: 12px 30px;
	line-height: 100%;
	margin-right: 2px;
	display: inline-block;
	border: 3px solid $linkColor;
	/*@include border-radius(30px);*/
	/*@include transition(all 0.3s);*/
  border-radius: 30px;
  transition: all 0.3s;
}

@mixin globalButtonHover(){
	border: 3px solid $linkColor;
    background: none;
    color: $linkColor;
    background: #fff;
}
